.register {
  float: left;
}

.forgetPwd {
  float: left;
  margin-left: 30px;
}

.code {
  float: left;
  width: 300px;
}

.verifyimg {
  float: right;
  width: 200px;
  height: 58px;
  cursor: pointer;
}

.el-input__prefix {
  left: 10px !important;
}
